<% if @emergency.errors.any? %>
  <ul>
    <% @emergency.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @emergency do |emer| %>
  <div class="form-group">
    <%= emer.label :date, "emergency date" %>
    <%= emer.datetime_select :date, class: "form-control" %>
  </div>
  <div class="checkbox">
    <%= emer.label :simulacrum do %>
      <%= emer.check_box :simulacrum %> Simulacrum
    <% end %>
  </div>
  <div>
    <%= emer.label :place_id %>
    <%= emer.select :place_id, 
        Place.all.collect {|place| [place.name, place.id]},
        {include_blank: true} %>
  </div>

  <%= emer.submit "Update", class: "btn btn-default" %>
<% end %>
