<h1>Emergency information</h1>
<% if current_user %>

  <% if @emergency.errors.any? %>
    <ul>
      <% @emergency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <ul>
    <li>Date: <%= localize_date @emergency.date %></li>
    <li>Status: <%= @emergency.status %></li>
    <li><h4>Place: <%= @emergency.place.name %> - <%= @emergency.place.description %></h4>
      <%= button_to "Show", place_path(@emergency.place),
          method: :get, class: "btn btn-info btn-xs" %></li>
    <% if @emergency.simulacrum %>
      <li>"Simulacrum" </li>
    <% end %>
  </ul>

  <h3>Follow-up</h3>
  <%= button_to "New", new_emergency_followup_path(@emergency), 
      method: :get, class: "btn btn-success btn-xs"  %>
  <% if @emergency.followups.any? %>
    <% @emergency.followups.each do |f| %>
      <dl class="dl-horizontal">
            <dt>Created:</dt> <dd><%= localize_date f.created_at %> </dd>
            <dt>Title:</dt> <dd><%= f.title %></dd>
            <dt>Description:</dt> <dd><%= f.description %></dd>
            <dt></dt><dd><%= button_to "Edit follow-up", edit_emergency_followup_path(@emergency, f),
                            method: :get, class: "btn btn-info btn-xs" %></dd>
      </dl>
    <% end %>
  <% else %>
    <p>No follow-up</p>
  <% end %>

  <%= button_to "Close emergency", close_emergency_path(@emergency), 
      method: :get, class: "btn btn-danger btn-xs" %>

<% end %>