<h1>Scenarios</h1>
<% if current_user %>
  <%= link_to "New", new_scenario_path %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @scenarios.each do |scen| %>
      <tr>
        <td><%= scen.name %></td>
        <td><%= scen.description %></td>
        <td><%= link_to "Edit", edit_scenario_path(scen) %></td>
        <td><%= link_to "Show", scenario_path(scen) %></td>
        <td><%= link_to "Delete", scenario_path(scen), method: :delete,
                data: {confirm: 'Are you sure?'} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <%= render 'login/login_form' %>
<% end %>