<% if @followup.errors.any? %>
  <ul>
    <% @followup.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<dl class="dl-horizontal">
  <dt>Date of emergency:</dt> <dd><%= localize_date @emergency.date %></dd>
  <dt>Place:</dt> <dd><%= @emergency.place.name %> - <%= @emergency.place.description %></dd>
  <dt>Now:</dt> <dd><%= localize_date DateTime::now %></dd>
</dl>

<%= form_for [@emergency, @followup], html: {class: "form-horizontal"} do |fo| %>
  <div class="form-group">
    <%= fo.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= fo.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= fo.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= fo.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= fo.submit "Submit", class: "btn btn-success" %>
    </div>
  </div>
<% end %>