<% if @followup.errors.any? %>
  <ul>
    <% @followup.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

Date: <%= localize_date @emergency.date %>
Place: <%= @emergency.place.name %> - <%= @emergency.place.description %>

<%= form_for [@emergency, @followup] do |fo| %>
  <div>
    <%= fo.label :title %>
    <%= fo.text_field :title, placeholder: 'short title' %>
  </div>
  <div>
    <%= fo.label :description %>
    <%= fo.text_field :description, placeholder: 'description' %>
  </div>

  <%= fo.submit "Update", class: "btn btn-default" %>
<% end %>