<h1>Emergency follow-up</h1>
<% if current_user %>
  <%= button_to "New", new_followup_path, method: :get, class: "btn btn-success btn-xs" %>

  <% if @followups && @followups.any? %>
    <% @followups.each do |f| %>
      <%= f.created_at %> <%= f.updated_at %><%= f.title %><%= f.description %>
    <% end %>
  <% else %>
  <p>No follow-ups</p>
  <% end %>
<% end %>