<% if current_user %>
  <h1>Place info</h1>

  <% if @place.errors.any? %>
    <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  Name: <%= @place.name %>
  <ul>
    <li>Description: <%= @place.description %></li>
    <li>Coordinate X:<%= @place.coord_x %></li>
    <li>Coordinate Y:<%= @place.coord_y %></li>
    <li>Emergencies in this place
      <ol>
        <% @place.emergencies.each do |emer| %>
          <li><%= localize_date emer.date %>: Status: <%= emer.status %>
              <%= link_to "Edit", edit_emergency_path(emer) %>
              <%= link_to "Show", emergency_path(emer) %>
          </li>
        <% end %>
      </ol>
    </li>
  </ul>
<% end %>
